/*Setting up variables for the colors*/
:root {
  --backgroundblack: rgb(50, 50, 50);
  --headerwhite: rgb(255, 255, 255);
  --highlightedgreen: rgb(46, 179, 152);
  --specialgreen: rgb(32, 129, 109);
  --textwhite: rgb(215, 252, 245);
  --textlightgrey: rgb(224, 224, 224);
  --textdarkgrey: rgb(190, 190, 190);
  --textdarkergrey: rgb(69, 69, 69);
}

/*Setting up all the fonts*/
@font-face {
  font-family: lato-bold;
  src: url(/css/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: lato-regular;
  src: url(/css/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: lato-black;
  src: url(/css/fonts/Lato-Black.ttf);
}
@font-face {
  font-family: lato-light;
  src: url(/css/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: myriad-regular;
  src: url(/css/fonts/MyriadPro-Regular.otf);
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1,
h2,
h3,
p,
hr {
  margin: 0;
}
.j-end {
  justify-self: end;
}
.j-center {
  justify-self: center;
}
.a-center {
  align-self: center !important;
}

.header-menu {
  display: grid;
  background-color: var(--backgroundblack);
  grid-template-columns: 1fr 3fr 1fr;
  position: relative;
  margin-bottom: 15px;
}
.header-menu::before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.header-menu::before {
  border-width: 30px;
  border-left-width: 45px;
  border-right-width: 45px;
  border-top-width: 24px;
  margin-left: -63px;
  border-top-color: var(--backgroundblack);
}
.main-menu {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 3px;
}
.arrow-image {
  height: 52px;
  margin-right: 38px;
}
.menu-item {
  text-decoration: none;
  font-family: lato-light;
  font-size: 10pt;
  font-weight: 400;
  color: var(--headerwhite);
  margin-right: 25px;
}
.s-margin {
  margin-right: 38px;
}
.menu-item:hover {
  color: var(--highlightedgreen);
}
.line-container {
  display: grid;
  grid-template-columns: 43% 11.5% 43%;
  grid-template-areas: "line-1 . line-2";
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 80px;
}
.l-1 {
  grid-area: line-1;
}
.l-2 {
  grid-area: line-2;
}
.header-end-line {
  display: inline-block;
  width: 100%;
}
/*Creating the hexagons*/
.hexal-container {
  background-image: url(/images/0.png);
  background-repeat: no-repeat;
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg);
  height: 210px;
  width: 195px;
}
.hex-1 {
  overflow: hidden;
  width: 195px;
  height: 100%;
  transform: rotate(-60deg);
}
.hex-2 {
  width: 195px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(/images/0.png);
  visibility: visible;
  transform: rotate(-60deg);
}
.img-1 {
  background-image: url(/images/1.png);
}
.img-2 {
  background-image: url(/images/2.png);
}
.img-3 {
  background-image: url(/images/3.png);
}
.img-4 {
  background-image: url(/images/4.png);
}
.img-5 {
  background-image: url(/images/5.png);
}
.img-6 {
  background-image: url(/images/6.png);
}
.img-7 {
  background-image: url(/images/7.png);
}
.img-8 {
  background-image: url(/images/8.png);
}
.img-9 {
  background-image: url(/images/9.png);
}
.img-10 {
  background-image: url(/images/10.png);
}
.img-11 {
  background-image: url(/images/11.png);
}
.img-12 {
  background-image: url(/images/12.png);
}
/*Organizing all the hexagons*/
.m-line {
  background-color: rgb(229, 233, 236);
  border: 0px;
  height: 1px;
}
.images-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.first-row {
  display: flex;
  align-self: center;
  flex-flow: row wrap;
}
.second-row {
  display: flex;
  align-self: stretch;
  flex-flow: row wrap;
  position: relative;
  top: -40px;
}
.third-row {
  display: flex;
  align-self: center;
  flex-flow: row wrap;
  justify-content: start;
  position: relative;
  top: -80px;
}
.vertical-line {
  height: 108px;
  width: 1px;
  background-color: rgb(229, 233, 236);
  border: 0px;
  align-self: center;
}

.m-right {
  margin-right: 6px;
}
/*Setting some order to the line and the nav below the images*/
.main-footer {
  display: flex;
  flex-flow: column wrap;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: -20px;
  margin-bottom: 12px;
}
.slider {
  margin-bottom: 30px;
  align-self: flex-start;
  display: flex;
}
.slider-item {
  display: block;
  height: 8px;
  width: 8px;
  font-size: 1pt;
  background-color: rgb(221, 210, 198);
  margin-right: 5px;
  cursor: pointer;
}
.checked {
  background-color: rgb(139, 135, 132);
}
.slider-item:hover {
  background-color: rgb(139, 135, 132);
}

/*About the author*/
.author-info {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: var(--highlightedgreen);
  padding-top: 12px;
  padding-bottom: 12px;
}
.author-content {
  display: grid;
  grid-template-columns: 0fr 3fr;
  grid-column-gap: 20px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.author-desc {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.author-bio {
  text-align: justify;
  font-family: lato-light;
  font-size: 9pt;
  line-height: 1.5;
  color: var(--textwhite);
  margin-bottom: 40px;
}
.author-name {
  font-family: myriad-regular;
  font-size: 24pt;
  color: var(--textwhite);
}
.author-job {
  font-family: myriad-regular;
  font-size: 14pt;
  color: var(--specialgreen);
  margin-bottom: 20px;
}
.media-icons {
  align-self: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 150px;
}
.vl-2 {
  height: 315px;
  border: 0px;
  width: 1px;
  background-color: rgb(33, 157, 133);
}
.media-icons i {
  color: rgb(5, 174, 151);
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wg-color {
  background-color: rgb(164, 221, 211);
}
.ltr-green {
  background-color: rgb(107, 203, 192);
}
.l-green {
  background-color: rgb(125, 209, 199);
}

.author-image {
  background-image: url(/images/smith.png);
}
/*Styling the last section*/
.contact-section {
  background-color: var(--backgroundblack);
  padding: 12px 30px;
}
.contact-lines {
  background-color: rgb(43, 43, 43);
  height: 1px;
  border: 0;
  width: 100%;
}
.contact-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 0.9fr;
  grid-column-gap: 20px;
  grid-row-gap: 23px;
  padding-top: 55px;
  padding-bottom: 53px;
}
.contact-heading {
  grid-area: heading;
  grid-row: 1/2;
  grid-column: 2/4;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.c-form {
  grid-area: form;
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  flex-flow: column wrap;
}
.extra-info {
  grid-area: aside;
  grid-column: 4/5;
}
.contact-title {
  font-family: myriad-regular;
  font-size: 24pt;
  color: var(--textlightgrey);
}
.contact-title-desc {
  font-family: myriad-regular;
  font-size: 15pt;
  color: var(--textdarkgrey);
  text-align: start;
}
.contact-detail-desc {
  line-height: 2;
  text-align: justify;
  margin-bottom: 44px;
}
.font-lato {
  font-family: lato-regular;
  font-size: 10pt;
  color: rgb(149, 149, 149);
}

.white-b-text {
  color: var(--textlightgrey);
  font-weight: 700;
}
.g-background {
  background-color: rgb(69, 69, 69);
  border: 0;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 15px;
  min-width: -webkit-fill-available;
}
.t-area {
  resize: none;
  height: 150px;
  padding-top: 16px;
}
input[type="file"] {
  display: none;
}
.p-holder {
  padding-top: 16px;
  text-align: start;
  color: gray;
  font-size: 9pt;
}
.footer-btn {
  background-color: var(--highlightedgreen);
  color: var(--headerwhite);
  text-decoration: none;
  font-family: myriad-regular;
  font-size: 11pt;
  height: 37px;
  width: 90px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aside-footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.c-green {
  color: var(--highlightedgreen);
  margin-right: 5px;
}
.contact-details {
  margin-bottom: 10px;
}

/*Styling the footer*/
footer {
  background-color: rgb(34, 34, 34);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
}

.footer-text {
  font-family: myriad-regular;
  font-size: 10pt;
  color: var(--textdarkergrey);
}
